.generate-cards(@suit, @i: 1) when (@i =< 13) {
    .@{suit}-@{i} {
      background: url('../../assets/card/@{suit}_@{i}.png');
    }
  
    .generate-cards(@suit, (@i + 1));
  }
  
.generate-cards(club);
.generate-cards(spade);
.generate-cards(heart);
.generate-cards(diamond);

.back-blue {
    background: url('../../assets/card/back-blue.png');
}

.back-gray {
    background: url('../../assets/card/back-gray.png');
}

.card {
    background-size: contain;
    width: 111px;
    height: 160px;
}