.cols {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;

    & > .col {
        display: flex;
        flex-direction: column;
    }

    & > .col > .card:not(:first-child) {
        margin-top: -120px;
        box-shadow: 0 -10px 20px -15px rgba(0, 0, 0, 0.8);        
    }
}
