.top-section {
    display: flex;
    justify-content: space-between;
}

.top-card {
    display: flex;
    margin-left: 12px;
    position: relative;

    .card {
        position: absolute;
    }
}

.ace-boxes {
    display: flex;
    margin-left: auto;
    justify-content: space-between;
    width: calc(103px * 4 + 45px)
}

.deck {
    .card:nth-child(2) {
        left: 4px;
        top: 4px;
        position: absolute;
    }

    .card:nth-child(3) {
        left: 8px;
        top: 8px;
        position: absolute;

    }
}

.ace-boxes .ace > .card { position: absolute; }