@import './styles/deck.less';
@import './styles/cards.less';
@import './styles/cols.less';

html, body {
    margin: 0;
    background: green;
}

.container {
    margin: 20px;
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 800px;
}

.opacity-5 {
    opacity: .5;
}

.active {
    box-shadow: 0 0 0 5px white !important;
    transition-delay: 0s !important;
}